@page
@model MusicRadio.Web.Pages.Purchases.CreateModel
@{
    ViewData["Title"] = "Nueva Compra";
    Layout = "_Layout";
}
<div class="container mt-4">
    @await Html.PartialAsync("_OperationResult")
    @*   <div asp-validation-summary="ModelOnly" class="validation-error"></div> *@
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="header">
           <h2> <i class="fas fa-shopping-cart"></i> Nueva Compra</h2>
        </div>
        <a class="btn btn-primary" asp-page="Create">Nueva Compra</a>
    </div>
    <h2><i class="fas fa-photo-video"></i> Catálogo de Álbums y Canciones <i class="fas fa-music"></i></h2>
    <input type="text" id="searchInput" placeholder="Buscar..." class="form-control mb-3" />
    <table id="albumsTable" class="table table-striped">
        <thead class="table-light">
            <tr>
                <th>Nombre del Álbum</th>
                <th>Canciones</th>
                <th>Precio Álbum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model.PurchaseVM)
            {
                <tr>
                    <td>@purchase.AlbumSet!.Name</td>
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var song in @purchase.SongSet!)
                            {
                                <li>@song.Name</li>
                            }
                        </ul>
                    </td>
                    <td>@purchase.AlbumSet.Precio.ToString("C")</td>
                    <td>
                        <form method="post" asp-page-handler="Buy">
                            <input type="hidden" id="Album_Id" name="Album_Id" asp-for="@purchase.AlbumSet.Id" />
                            <input type="hidden" id="Precio" name="Precio" asp-for="@purchase.AlbumSet.Precio" />
                            <button type="submit" class="btn btn-primary">Comprar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("searchInput");
        const table = document.getElementById("albumsTable");
        const rows = table.getElementsByTagName("tr");

        searchInput.addEventListener("input", function () {
            const filter = searchInput.value.toLowerCase();

            for (let i = 1; i < rows.length; i++) { // Comienza desde 1 para omitir el encabezado
                const cells = rows[i].getElementsByTagName("td");
                let match = false;

                for (let j = 0; j < cells.length; j++) {
                    const cellText = cells[j].textContent.toLowerCase();
                    if (cellText.includes(filter)) {
                        match = true;
                        break;
                    }
                }

                rows[i].style.display = match ? "" : "none";
            }
        });
    });

</script>
